.card{
    margin: 0 7px;
}
div span:first-child{
    font-family: "Raleway-semibold";
    font-size:2.5rem;
    color:var(--heaven);
    margin-bottom:0.05rem;
  }
div span:last-child{
    font-family: "Raleway-medium";
    color:var(--heaven);
  }
  