section.contact-us{
    padding-top:0;
    padding-bottom: 0;
  }
  section.contact-us .contact-info-wrapper {
    padding:4rem 0;
    flex:1;
  }
  section.contact-us .map{
  
    flex:1;
    filter:grayscale(100%);
    -webkit-filter:grayscale(100%);
  }
  section.contact-us .contact-info{
    display:flex;
    justify-content: center;
  }
  section.contact-us .contact-info > div > div {
    display:flex;
    align-items:center;
    margin-bottom:2rem;
  }
  section.contact-us .contact-info > div > div img{
    margin-right: 1rem;
  }
  section.contact-us .contact-info > div > div > div{
    display:flex;
    flex-direction: column;
  }
  section.contact-us .contact-info > div > div > div h5{
    font-family: "Raleway-bold";
    margin-bottom:0.25rem;
  }
  
  section.contact-us .contact-info > div > div > div h6{
  font-family:"Raleway-medium";
  letter-spacing: 0.055rem;
  font-size:0.75rem;
  color:var(--ternary);
  }

  
  @media (max-width:768px){
    section.contact-us{
        padding-top: 20px;
        flex-direction: column;
      }
      section.contact-us .contact-info-wrapper {
      
        height: 400px;
      }
      section.contact-us .map {
      
        height: 400px;
      }

  

  }

  