
footer{
    background:var(--footer);
    padding: 10px 20px 10px 20px;
   
  }
  footer .container{
  
   
    display:flex;
    color:var(--pure);
  }
  
  footer .box{
    flex:1;
    margin-right:2rem;
    margin-left: 2rem;
    text-align:center;
  }
  
  footer .instagram-api img{
    width:100%;
    height:100%;
    object-fit: cover;
  }
  footer .instagram-api .post-wrap{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
  }
  footer .instagram-api .post-wrap > div{
    width: calc(1/3*100% - (1 - 1/3)*10px);
    margin-bottom:10px;
  }
  footer .box ul{
    list-style-type: none;
  }
  footer .box ul li a{
    color:var(--pure);
    text-decoration: none;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
  }
  footer .box ul li a:hover{
    color:var(--primary);
  }
  footer .box h3{
    border-bottom:1px solid var(--primary);
    padding-bottom:1rem;
    margin-bottom:1rem;
  }
  
  footer .box p{
    line-height: 1.6;
    margin-bottom:1rem;
  }
  footer .box ul li{
    margin-bottom:1rem;
  }
  footer .box:nth-child(3) > div {
    display:flex;
    justify-content: center;
  }
  footer .box:nth-child(3){
    text-align: left;
  }
  footer .box:nth-child(3) h3{
    text-align: center;
  }
  footer .box:nth-child(3) > div img{
    margin-right:1rem;
  }
  footer .box:nth-child(3) ul li{
    margin-bottom:1.5rem;
  }
  
  footer.copyright{
    padding:1rem 0;
    background: var(--secondary);
    color:var(--pure);
    text-align: center;
    font-size: 0.75rem;
  }
  footer.copyright a{
    color:var(--primary);
    text-decoration: none;
  }

  @media (max-width:992px){

 

    footer .instagram-api .post-wrap > div{
        width:calc(1/2*100% - (1 - 1/3)*10px);
    }
  }
  
  @media (max-width:768px){
   
    footer .container{
        padding-top: 20px;
        flex-direction: column;
    }

    footer .box:nth-child(3) h3{
        text-align:center;
    }
    footer .box:nth-child(3) li{
        text-align:center;
    }

  }
  
  @media( max-width:576px){
    
   
  }
  