section.latest-news{
    background:var(--light);
    position:relative;
    z-index:0;

  }
.latest-news .article-wrapper{
    display:flex;
 
  
  }
  
  .latest-news .btn-wrapper{
    margin-top:2rem;
  }
  @media (max-width:992px){

  

    .latest-news .article-wrapper{
        flex-direction:column;
    }
    .latest-news .article-wrapper .card{
        margin-right:0;
        margin-bottom:4rem;
    }
  
   
  } 
  
 
  
